/* REGOLE GENERALI */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* /REGOLE GENERALI */

/* HEADER */
h1 {
    color: #e53170;
    text-align: center;
    margin-bottom: 40px;
}

header>div {
    max-width: 1100px;
    margin: 40px auto;
    line-height: 25px;
}

/* /HEADER */

/* STILE  MAIN */
main {
    max-width: 1100px;
    margin: 20px auto;
}

section>div {
    width: calc(100% / 3);
}

/* /STILE  MAIN */